{% extends "maininfo.html" %}
{%block title %}
<h1><center>The Balmoral Hotel Clock Tower</center></h1>
{% endblock %}
{% block content %}
	<p>Resulting from a competition in 1895, the hotel originally opened as the North British Station Hotel on 15 October 1902. The building's architecture is Victorian, influenced by the traditional Scottish baronial style. It was designed by architect William Hamilton Beattie and for most of the twentieth century was known as the North British Hotel or simply the N.B., a traditional railway hotel built for the North British Railway Company adjacent to their newly rebuilt Waverley station. While under railway ownership, the hotel had porters in red jackets who would take passengers and their luggage directly into the hotel via a lift. Ownership passed into the hands of the London & North Eastern Railway (LNER) in 1923.
After nationalisation of the railways in 1948, the hotel became part of British Transport Hotels until it was privatised and purchased by The Gleneagles Hotel Company in 1983.</p>
<p>If you're interested in learning more about the castle today then click <a href="/secret/balmoral2/">this link</a></p>
{% endblock %}
{% block image %}
        <img src="/static/img/clock.jpg">
{% endblock %}

