{% extends "maininfo.html" %}
{%block title %}
<h1><center>The Balmoral Hotel Clock Tower... today</center></h1>
{% endblock %}
{% block content %}
	<p>The hotel attachted to the clock tower is still in use today and currently goes by the name of The Balmoral Hotel, this is a luxury hotel and landmark. It is located in the heart of the city at the east end of Princes Street, and the southern edge of the New Town.
It is accessed from Princes Street, on its north side, and flanked by North Bridge and Waverley Steps.
</p>
<p>Please click  <a href="/secret/balmoral1/">here</a> in order to go back to the previous page</p>
{% endblock %}
{% block image %}
	<img src="/static/img/clock.jpg">
{% endblock %}
