{% extends "maininfo.html" %}
{%block title %}
<h1><center>Edinburgh Castle... today</center></h1>
{% endblock %}
{% block content %}
	<p>Edinburgh Castle is in the ownership of the Scottish Ministers as heads of the devolved Scottish Government. The castle is run and administered, for the most part, by Historic Environment Scotland, an executive agency of the Scottish Government, although the Army remains responsible for some areas, including the New Barracks block and the military museums. Both Historic Environment Scotland and the Army share use of the Guardroom immediately inside the castle entrance.
Historic Environment Scotland undertakes the dual tasks of operating the castle as a commercially viable tourist attraction, while simultaneously bearing responsibility for conservation of the site. Edinburgh Castle remains the most popular paid visitor attraction in Scotland, with over 1.4 million visitors in 2013. Historic Environment Scotland maintains a number of facilities within the castle, including two cafés/restaurants, several shops, and numerous historical displays. An educational centre in the Queen Anne Building runs events for schools and educational groups, and employs re-enactors in costume and with period weaponry.
</p>
<p>Please click  <a href="/secret/castle1/">here</a> in order to go back to the previous page</p>
{% endblock %}
{% block image %}
	<img src="/static/img/castle.jpg">
{% endblock %}
