{% extends "maininfo.html" %}
{%block title %}
<h1><center>Edinburgh Castle</center></h1>
{% endblock %}
{% block content %}
	<p>The castle stands upon the plug of an extinct volcano, which is estimated to have risen about 350 million years ago during the lower Carboniferous period.
The first documentary reference to a castle at Edinburgh is John of Fordun's account of the death of King Malcolm III (1031–1093). Fordun describes his widow, the future Saint Margaret, as residing at the "Castle of Maidens" when she is brought news of his death in November 1093. Fordun's account goes on to relate how Margaret died of grief within days, and how Malcolm's brother Donald Bane laid siege to the castle.
 However, Fordun's chronicle was not written until the later 14th century, and the near-contemporary account of the life of St Margaret by Bishop Turgot makes no mention of a castle.During the reigns of Malcolm III and his sons, Edinburgh Castle became one of the most significant royal centres in Scotland, Malcolm's son King Edgar died here in 1107.</p>
<p>If you're interested in learning more about the castle today then click <a href="/secret/castle2/">this link</a></p>
{% endblock %}
{% block image %}
	<img src="/static/img/castle.jpg">
{% endblock %}
