{% extends "maininfo.html" %}
{%block title %}
<h1><center>The Scott Monument... today</center></h1>
{% endblock %}
{% block content %}
	<p>In the early 1990s it was proposed that the stonework should be cleaned. There were views for and against cleaning and a scientific/geological investigation, including cleaning trials on samples of stone, was carried out. It was decided not to clean the stone due to the damage it would sustain. A restoration programme was undertaken involving replacing old repairs and damaged areas with Binny stone for which purpose the original quarry was re-opened. The fresh stonework contrasts with the smoke-darkened original.
The overall cost of the restoration was £2.36 million and was funded by the Heritage Lottery Fund, Historic Scotland and the City of Edinburgh Council.
The monument is now administered by the Culture and Sport division of the City of Edinburgh Council (See External Links for visitor information) who in 2016 installed a new LED lighting system. The design of the lights was "intended to highlight the monument’s architectural features with a soft warm glow" and were first illuminated on 21 September.
</p>
<p>Please click  <a href="/secret/spire1/">here</a> in order to go back to the previous page</p>
{% endblock %}
{% block image %}
	<img src="/static/img/spire.jpg">
{% endblock %}
