{% extends "maininfo.html" %}
{%block title %}
<h1><center>The Scott Monument</center></h1>
{% endblock %}
{% block content %}
	<p>Following Scott's death in 1832, a competition was held to design a monument to him. An unlikely entrant went under the pseudonym "John Morvo", the medieval architect of Melrose Abbey. Morvo was in fact George Meikle Kemp, 45 year-old joiner, draftsman, and self-taught architect. He had feared that his lack of architectural qualifications and reputation would disqualify him, but his design was popular with the competition's judges, and they awarded him the contract to construct the monument in 1838.
John Steell was commissioned to design a monumental statue of Scott to rest in the centre space within the tower's four columns. It is made from white Carrara marble and shows Scott seated, resting from writing one of his works with a quill pen, his dog Maida by his side. The monument carries 64 figures of characters from Scott's novels, sculpted by Scots sculptors including Alexander Handyside Ritchie, John Rhind, William Birnie Rhind, William Brodie, William Grant Stevenson, David Watson Stevenson, John Hutchison, George Anderson Lawson, Thomas Stuart Burnett, William Shirreffs, Andrew Currie, George Clark Stanton, Peter Slater, Amelia Robertson Hill (who also made the statue of David Livingstone immediately east of the monument), and the otherwise unknown Katherine Anne Fraser Tytler.</p>
<p>If you're interested in learning more about the monument today then click <a href="/secret/spire2/">this link</a></p>
{% endblock %}
{% block image %}
        <img src="/static/img/spire.jpg">
{% endblock %}

