{% extends "maininfo.html" %}
{% block title %}
<h1><center>St Mary's Cathedraal</center></h1>
{% endblock %}
{% block content %}
	<p>The cathedral was designed by Sir George Gilbert Scott and the foundation stone was laid on 21 May 1874 by the Duke of Buccleuch and Queensberry, whose family had been supportive of Scottish episcopacy over the previous hundred years. Inside the stone was placed a bottle containing a copy of the Trust Deed, the Edinburgh Post Office Directory, Oliver and Boyd's Almanac, newspapers and coins. In preparation for the opening of the Cathedral a congregation had been formed to worship in a temporary iron church erected on the site now occupied by the Song School.</p>
<p>If you're interested in learning more about the cathedral today then click <a href="/secret/stmary2/">this link</a></p>
{% endblock %}
{% block image %}
        <img src="/static/img/cathedral.jpg">
{% endblock %}
