{% extends "maininfo.html" %}
{%block title %}
<h1><center>St Mary's Cathedral... today</center></h1>
{% endblock %}
{% block content %}
	<p>The cathedral is still in use today by worshippers across Edinburgh, The cathedral is currently the see of the Bishop of Edinburgh. A 'see' is the area of a Bishops ecclesiastical jurisdiction (a jurisdiction exercised by church leaders over other leaders and over non clergy-members)
</p>
<p>Please click  <a href="/secret/stmary1/">here</a> in order to go back to the previous page</p>
{% endblock %}
{% block image %}
	<img src="/static/img/cathedral.jpg">
{% endblock %}
